* {
  box-sizing: border-box;
}

body {
  background-color:darksalmon;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 500px;
  overflow: hidden;
  margin:auto;
  border: solid  #3dd4e8;
}

.quiz-container {
  background-color: #3dd4e8;
  border-radius: 30px;
  width: 400px;
  overflow: hidden;
}

.quiz-header {
  padding: 10px;
}

h2 {
  padding: 7px;
  text-align: center;
  margin: 10px;;
  border: double black;
}

ul {
  list-style-type: none;
  padding: 0;
  color: black;
  font-weight: 600;
  font-style: italic;
}

ul li {
  font-size: 20px;
  margin: 20px;
}

ul li label {
  cursor: pointer;
}

button {
  background-color:cadetblue;
  color:white;
  border: none;
  display: block;
  width: 100%;
  cursor: pointer;
  font-size: 20px;
  padding: 20px
}

button:hover {
  background-color:brown;
}

button:focus {
  outline: none;
  background-color:blueviolet;
}